# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Quartus Prime
/db/
/output_files/
/incremental_db/
/simulation/
*.qws
*.rpt
*.cdf
*.sof
*.pof
*.jic
*.sopcinfo
*.qpf
*.qsf
*.qdf
*.qip
*.qsys
*.qdz
*.qar
*.sdc
*.pin
*.smsg
*.summary
*.sta.rpt
*.eqn
*.pin
*.sld
*.sld_design_entry.sci
*.sld_design_entry_dsc.sci
*.svd
*.tcl

# Nios II
*.elf
*.map
*.obj
*.bin
*.hex
*.axf
*.lst
*.dis
*.dmp
*.mem
*.log
*.srec
*.dat
*.bak
*.dep
*.d
*.o
*.a
*.lib
*.out
*.gdb
*.sopcinfo

# Platform Designer
/submodules/
*.ptf
*.spd
*.xml
*.sopcinfo

# Otros archivos temporales de herramientas Intel/Altera
*.restore
*.log
*.bak
*.tmp
*.swp
